<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
					       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载数据库属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--自动扫描包-->
    <context:component-scan base-package="com.jsj.service"/>

    <!-- 数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置连接池属性 -->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${mysql.url}"/>
        <property name="user" value="${mysql.password}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>

    <!--配置SessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--配置pojo别名-->
        <property name="typeAliasesPackage" value="com.jsj.bean"/>
    </bean>

    <!--mapper扫描器(使用mybatis接口代理开发的模式)-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.jsj.mapper"/>
    </bean>


</beans>